{% extends 'base.html' %}

{% block content %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>Purchase List</h2>
  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Purchase Time</th>
      <th>Action</th>
    </tr>
    {% for purchase in object_list %}
      <tr>
        <td>{{ purchase.product.name}}</td>
        <td>{{ purchase.quantity }}</td>
        <td>{{ purchase.purchase_time}}</td>
        <td>
          <form method="post" action="{% url 'create_refund' purchase_id=purchase.pk %}">
            {% csrf_token %}
            <button type="submit">Return Product</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
