{% extends "base.html" %}

{% block title %}Product List{% endblock %}

{% block content %}
{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}
<h1>Product List</h1>
<ul>
    {% for product in products %}
    <li>
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Stock: {{ product.stock }}</p>
        <a href="{% url 'edit_product' product.id %}">Edit</a>
        <a href="{% url 'delete_product' product_id=product.id %}">Delete</a>

        {% if request.user.is_authenticated %}
        <form action="{% url 'buy_product' product.id %}" method="post">
            {% csrf_token %}
            {{purchase_form}}
            <button type="submit">Buy</button>
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
